<!-- Launch file for Segway platform startup -->

<launch>
    <arg name="port" default="/dev/ttyUSB0"/>
    <arg name="baudrate" default="460800"/>
    <arg name="timeout" default="0.5"/>
    <arg name="wrench_topic" default="kwr75/wrench"/>

    <node pkg="kwr75_force_sensor" type="kwr75_driver.py" name="kwr_driver" output="screen">
        <param name="port" type="str" value="$(arg port)" />
        <param name="baudrate" type="int" value="$(arg baudrate)" />
        <param name="timeout" type="double" value="$(arg timeout)" />
        <param name="wrench_topic"  type="str" value="$(arg wrench_topic)" />
    </node>
</launch>
